body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: 2px solid red;
    background-color: #CCCCCC	
}

.container {
    display: flex;
    outline: 2px solid black;
    border-radius: 15px;
    width: 340px;
    flex-wrap: wrap;
    height: 400px;
    align-items: center;
    flex-direction: column;
    background-color: whitesmoke;
    justify-content: flex-start;
}

.display-wrapper {
    display: flex;
    justify-content: flex-end;
    width: 350px;
    /* margin-right: 10; */
    /* outline: 2px solid black; */
}

.buttons-wrapper {
    display: flex;
    /* align-items: flex-end; */
    height: 250px;
   
    
}

.display {
    margin-left: 10px;
    font-size: 40px;
    align-self: flex-end;
    margin-top: 40px;
    margin-right: 40px;
}

.buttons {
    width: 280px;
    height: 150px;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    align-self: flex-end;
    /* margin-top: 30px; */
    /* justify-content: center; */
    margin-bottom: 40px;
}

.buttons > button {
    width: 60px;
    height: 45px;
    gap: 16px;
    border-radius: 25px;
    
}

.container > .buttons {
    /* flex: 1 1 0; */
}